@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f9fc;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: auto;
  height: 100%;
}
.d_flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}

.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #cdd0d8;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.contentWidth {
  margin-top: 50px;
  width: 100%;
}

.mtop {
  margin-top: 40px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/*----------- Header ------------*/

.search {
  padding: 20px 0;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.search .logo img {
  width: auto;
  height: auto;
}
.search .width {
  width: 20%;
}

.search-box {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.search-box i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  padding: 15px 20px;
  font-size: 18px;
}

.search-box input {
  width: 100%;
  padding: 10px;
}
::placeholder {
  font-size: 18px;
}

.search-box button {
  width: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.cart {
  position: relative;
}

.search .cart span {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
}

.search .f_flex {
  justify-content: end;
}

/*-------------Header Ends -----------*/

/* -------------- Slider ---------- */
.box {
  transition: 0.5s;
  padding: 0 20px;
  width: auto;
}
/*-------------- Slider Ends -------*/

/*-------------- FlashDeals --------- */

.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}

.product h3 {
  font-weight: 400;
  font-size: 17px;
}

.product .price {
  display: flex;
  justify-content: space-between;
  color: #c5314a;
}

.price button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}

.flash {
  padding: 50px 0;
  width: 100%;
}

.img {
  height: 270px;
  width: 250px;
}

.heading i {
  color: #e94560;
  margin: 10px;
}

/*-------------- FlashDeals Ends--------- */

/* ------------- Control Options ------------*/

.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  background: #1f4c84;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 7;
  cursor: pointer;
}

.control-btn .prev {
  left: -10px;
}

.control-btn .next {
  right: -10px;
}

/* ------------- Control Options  End ----------- */

/* -------------- Discounts -------------- */

.Discount {
  width: 100%;
  position: relative;
  left: 0;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}

.Discount h2 {
  margin-top: 12px;
  margin-left: 5px;
  color: black;
}

.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.NewArrivals h4 {
  font-weight: 400;
  color: black;
}

.NewArrivals span {
  color: #e94560;
  font-size: 15px;
  font-weight: 500;
}

.NewArrivals .box img {
  width: 277px;
  height: 270px;
}

/* ---------------- Discounts Ends --------*/

/*----------------- Wrapper ------------------- */
.wrapper {
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.wrapper .img {
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}

.wrapper .img i {
  font-size: 25px;
}

.wrapper .product {
  padding: 30px;
}

.wrapper .product h3 {
  font-weight: 500;
}

.wrapper p {
  font-size: 15px;
  margin-top: 20px;
  color: grey;
}

/*---------------- Wrapper Ends ---------------*/

/*---------------- Footer -----------------*/

footer {
  margin-top: 100px;
  background-color: #0f3460;
  padding: 100px 0;
  color: #fff;
}

footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}

footer h2 {
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}

/*------------------Footer Ends -----------*/

/*------------------ Show Products ----------- */

.shop {
  padding: 30px;
  height: 90vh;
  background-color: #f6f9fc;
  margin: 15px 0;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 5px;
  text-align: center;
}

.shop .box img {
  width: 277px;
  height: 270px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, lfr);
  grid-gap: 10px;
}

.product-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.product-details h3 {
  color: black;
}

/* ------------------ Show Products Ends -------- */

.annocument {
  margin-top: 70px;
  position: relative;
}

/* ----------------------- Cart ----------------- */

.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-total {
  height: 200px;
  width: 500px;
}

.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}

/* ------------------------ Cart Ends ------------ */

/* CSS for Checkout.*/

.cart__window {
  display: flex;
  margin-top: 80px;
}
.Cart_Items {
  width: 70%;
}
.Cart__checkout {
  height: 250px;
  margin: 50px 50px;
  width: 30%;
  font-size: 30px;
  padding: 20px;
  box-shadow: 0 2px 20px;
  border-radius: 0.2rem;
}
.CART {
  height: 350px;
  margin: 50px 50px;
  border: 1px solid rgb(3 0 71 / 9%);
  border-radius: 0.2rem;
  display: flex;
  background: white;
}

.cart__update {
  width: 60px;
  padding: 4px;
  border: 1px solid rgb(3 0 71 / 9%);
}

.cart__delete {
  width: 70px;
  padding: 4px;
  border: 1px solid rgb(3 0 71 / 9%);
}

.cart__update:hover,
.cart__delete:hover {
  background: #e94560;
}

.cart__image {
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

.cart__detail {
  font-size: 25px;
  margin-top: 40px;
  padding: 50px;
}

.cart__detail h5 {
  color: #e94560;
  margin-left: 20px;
  font-weight: 500;
}

.cart_quantity {
  font-size: 10px;
  width: 55px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background: #f6f9fc;
  border: 1px solid rgb(3 0 71 / 9%);
}

.productdetail__window {
  margin-top: 150px;
  height: 450px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  display: flex;
  border: 1px solid rgb(3 0 71 / 9%);
  gap: 2rem;
  background-color: #fff;
  border-radius: 0.2rem;
}

.productdetail__image {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productdetail__info {
  padding: 20px;
  margin: 10px;
  margin-top: 5%;
  width: 50%;
}

.productdetail__button {
  position: absolute;
  bottom: 0px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 1px solid;
}
